datahugger==0.10.4
Flask-Cors==4.0.0
Flask-Mail==0.9.1
gitignorefile==1.1.2
jsonpath-ng==1.6.1
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
mdurl==0.1.2
natsort==8.4.0
pkgutil-resolve-name==1.3.10
ply==3.11
pyalex==0.13
referencing==0.33.0
rispy==0.7.1
rpds-py==0.18.0
scisort==0.5.3
scitree==0.5.3
seedir==0.4.2
SQLAlchemy-Utils==0.41.1
synergy-dataset==1.2
tabulate==0.9.0
